*{
  color:black ;
}

/*navbar*/

.m-0{
    color:black ;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
/*about me*/
.AboutMe{
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px; /* 5px rounded corners */
  text-align: center;
  width: 600px;
  height: 200px;
  margin:auto;
top:300px;
  
}


/*projects*/
.project1{
flex: 1; 
position: absolute;
top: 100%;
}

#tekk{
  position: absolute;
  top: 300px ;
}

.project2{
  flex: 2; 
  position: absolute;
  top: 200%;
  }

.project3{
    flex: 3; 
    position: absolute;
    top: 300%;
    }
    

/*frontpage*/

#welcomeWords {
    color: black;
    animation: typing 2s steps(30, end), blink .5s step-end infinite alternate forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    right: 20%;
    bottom: 60%;
    position: absolute;


  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  /*form*/

  .getInTouch{
    flex: 4; 
    position: absolute;
    top: 400%;
    width:50%;
    right: 20%;
    height: 50vh;
    background: rgb(0, 0, 0) ;
    align-items:center ;
    justify-content: center;
    padding-bottom: 300px;
    border-radius: 10px;
  }

  form{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    height: 50vh;
    padding-bottom: 300px;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    
  }